@page
@model IndexModel
@{
    ViewData["Title"] = "Acasa";
}

<div class="text-center">
    <h1 class="display-5">Strimbeanu Andrei-Silviu</h1>
    <img src="https://media.newyorker.com/photos/5fd79cdfd6b40974495b224c/master/w_2560%2Cc_limit/Khullar-Nurses.jpg" style="width:55%; margin-top:10px;">
</div>
